.page6{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(117, 148, 117);
    color: white;
    padding: 75px 0 ;
}
.page6 p{
    width:350px;
}